/* All Style */
* {
  font-family: "Poppins", sans-serif;
  padding: 0px;
  margin: 0px auto;
}

/* Stylw for Heading 1 */
h1 {
  margin: 40px auto;
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
  background: #0088b9;
  width: max-content;
  padding: 5px 15px;
  border-radius: 10px;
}

/* Responsive Container, Heading 1 and Heading 2 */
@media (min-width: 300px) {
  h1 {
    font-size: 0.8rem;
  }
  h2 {
    font-size: 0.6rem;
  }
  .container {
    max-width: 300px;
  }
}
@media (min-width: 576px) {
  h1 {
    font-size: 1rem;
  }
  h2 {
    font-size: 0.8rem;
  }
  .container {
    max-width: 500px;
  }
}
@media (min-width: 768px) {
  h1 {
    font-size: 1.2rem;
  }
  h2 {
    font-size: 1rem;
  }
  .container {
    max-width: 700px;
  }
}
@media (min-width: 992px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  .container {
    max-width: 800px;
  }
}

/* Flex Direction */
.flexDirection {
  margin-bottom: 50px;
  padding: 20px;
  border: 2px solid #f1f1f2;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
}
h2 {
  font-size: 1.3rem;
  color: #0088b9;
  padding-bottom: 20px;
}
strong {
  font-size: 1.2rem;
}
.flex {
  width: 100%;
  border: 2px solid #f1f1f2;
  margin-bottom: 10px;
  box-sizing: border-box;
  display: flex;
  border-radius: 10px;
  color: #fff;
  text-align: center;
}
.directionRow {
  flex-direction: row;
}
.squere {
  background: #0088b9;
  margin: 10px;
  border-radius: 8px;
}

/* Responsive for Direction Column and Squere */
@media (min-width: 300px) {
  .squere {
    width: 20px;
    height: 20px;
  }
  .directionColumn,
  .directionColumnReverse {
    height: 200px;
  }
}
@media (min-width: 576px) {
  .squere {
    width: 30px;
    height: 30px;
  }
  .directionColumn,
  .directionColumnReverse {
    height: 250px;
  }
}
@media (min-width: 768px) {
  .squere {
    width: 40px;
    height: 40px;
  }
  .directionColumn,
  .directionColumnReverse {
    height: 300px;
  }
}
@media (min-width: 992px) {
  .squere {
    width: 50px;
    height: 50px;
  }
  .directionColumn,
  .directionColumnReverse {
    height: 350px;
  }
}
.directionRowReverse {
  flex-direction: row-reverse;
}
.directionColumn {
  margin: 0px 0px 10px 0px;
  width: max-content;
  flex-direction: column;
}
.directionColumnReverse {
  margin: 0px 0px 10px 0px;
  width: max-content;
  flex-direction: column-reverse;
}
.column {
  float: left;
  width: 50%;
}
.column-reverse {
  width: 50%;
}

/* Flex Wrap */
.flexWrap {
  margin-bottom: 50px;
  padding: 20px;
  border: 2px solid #f1f1f2;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
}
.wrapWrap {
  flex-wrap: wrap;
}
.wrapWrapNoWrap {
  flex-wrap: no-wrap;
}
.wrapWrapReverse {
  flex-wrap: wrap-reverse;
}

/* Flex Grow */
.flexGrow {
  margin-bottom: 50px;
  padding: 20px;
  border: 2px solid #f1f1f2;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
}
.grow0 .squere {
  flex-grow: 0;
}
.grow025 .squere {
  flex-grow: 0.25;
}
.grow05 .squere {
  flex-grow: 0.5;
}
.grow1 .squere {
  flex-grow: 1;
}
.growSpecific .squere:nth-of-type(1) {
  flex-grow: 0.25;
}
.growSpecific .squere:nth-of-type(2) {
  flex-grow: 0;
}
.growSpecific .squere:nth-of-type(3) {
  flex-grow: 1;
}

/* Flex Shrink */
.flexShrink {
  margin-bottom: 50px;
  padding: 20px;
  border: 2px solid #f1f1f2;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
}
.flexShrink .squere {
  flex-basis: 150px;
}
.shrink0 .squere:nth-of-type(1) {
  flex-shrink: 0;
}
.shrink025 .squere:nth-of-type(1) {
  flex-shrink: 0.25;
}
.shrink05 .squere:nth-of-type(1) {
  flex-shrink: 0.5;
}
.shrink1 .squere:nth-of-type(1) {
  flex-shrink: 1;
}
.shrinkSpecific .squere:nth-of-type(1) {
  flex-shrink: 2;
}
.shrinkSpecific .squere:nth-of-type(3) {
  flex-shrink: 4;
}
.shrinkSpecific .squere:nth-of-type(6) {
  flex-shrink: 6;
}

/* Justify Content */
.justifyContent {
  margin-bottom: 50px;
  padding: 20px;
  border: 2px solid #f1f1f2;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
}
.flexStart {
  justify-content: flex-start;
}
.flexEnd {
  justify-content: flex-end;
}
.center {
  justify-content: center;
}